{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Interactive Go Tutorial</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <link rel="stylesheet" href="{% static 'goviewer/goviewer.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'goviewer/goviewer.js %}"></script>
  </head>
  <body>
  </body>
</html>
